//PARAMS
@import "../../scss/params.scss";

/* VIDEO *////////////////////////////////////
.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

	&::after {
		content: "";
		background: #202020B2;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	 &-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;	
	 }
}
