<section class="top">
	<a href="/" class="top-brand">
		<img src="../../img/logo.png" alt="brand - Levi Alves">
	</a>

	<a href="javascript:void(0)" class="top-menu">
		<span class="top-menu-legend">Menu</span>
		<span class="top-menu-content">
			<span class="top-menu-content__open">
				<div class="top-menu-content__circle"></div>
				<div class="top-menu-content__circle"></div>
				<div class="top-menu-content__circle"></div>
				<div class="top-menu-content__circle"></div>
			</span>
			<span class="top-menu-content__close">
				<span class="top-menu-content__line"></span>
				<span class="top-menu-content__line"></span>
			</span>
		</span>
	</a>
</section>


