<section class="bottom">
	<p>Vamos fazer música juntos? <img src="../../img/Vector.svg" alt=""></p>
	<ul class="bottom-redes">
		<li><a href="https://www.youtube.com/@drum.levialves" target="_blank" title="Youtube"><img src="../../images/youtube.svg" alt="Youtube"></a></li>
		<!-- <li><a href="" title="Facebook"><img src="../../images/facebook.svg" alt="Facebook"></a></li>x -->
		<li><a href="https://www.instagram.com/levisdrum/" target="_blank" title="instagram"><img src="../../images/instagram.svg" alt="instagram"></a></li>
		<li><a href="tel:11933157405" title="whatsapp"><img src="../../images/whatsapp.svg" alt="whatsapp"></a></li>
	</ul>
</section>