<!DOCTYPE html>
<html lang="br">

<head>
	<!-- SEO -->
	<meta charset="UTF-8">
	<title>Levi Alves - Musico</title>

	<meta name="keywords" content="Levi Alves, Baterista, Drum, Drummer, Cymbals, Rock, Metalcore, Metal, Hardcore, Sertanejo, Samba">
	<meta name="description" content="Levi Alves Baterista desde os 3 anos de idade, formado pelo Instituto Tom Jobim, já toquei com bandas como:
	John Wayne, Savant Inc e Erik Moraes. Hoje, estou na banda Broad and Sharp e na igreja Estação337.">
	<meta name="revisit-after" content="1">
	<meta name="robots" content="ALL">
	<meta name="rating" content="General">
	<meta name="author" content="Levi Alves de Oliveira">
	<meta name="revisit-after" content="1">
	<meta name="robots" content="ALL">
	<meta name="rating" content="General">
	<meta name="author" content="Levi Alves de Oliveira">
	<meta property="og:title" content="Home - Levi Alves - Músico" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.levialves.com.br/drummer" />
	<meta property="og:image" content="../img/img-fc.jpg" />
	<meta property="og:description" content="Levi Alves Baterista desde os 3 anos de idade, formado pelo Instituto Tom Jobim, já toquei com bandas como: John Wayne, Savant Inc e Erik Moraes. Hoje, estou na banda Broad and Sharp e na igreja Estação337." />
	<meta property="og:site_name" content="levialves.com.br" />
	<meta property="og:locale" content="pt_BR" />
	<!-- end  -->
	<!-- facebook -->
	<meta property="og:title" content="Levi Alves - Baterista">
	<meta property="og:image" content="img/img-fc.jpg">
	<meta property="og:description"
		content="Bem vindo ao site do Levi Alves, Front end Developer desde 2010, trabalhei em agências digitais, e-commerce e startups adquirindo experiência em UI.">
	<!-- end -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

	<!-- CSS -->
	<link rel="stylesheet" href="./css/bundle.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

</head>

<body>