<section class="skills-component" data-cont>
	<h2>SKILLS</h2>
	<h3>CLIENT-SIDE</h3>
	<p>✔ HTML 5 - ✔ CSS  - ✔ JAVASCRIPT</p>

	<h3>SERVER-SIDE</h3>
	<p>✔ PHP - ✔ ASP - ✔ NODEJS</p>

	<h3>MOBILE</h3>
	<p>✔ FLUTTER - ✔ REACT NATIVE</p>

	<h3>LIBRARIES</h3>
	<p>✔ JQUERY - ✔ REACT - ✔ VUE - ✔ KNOCKOUT JS - ✔ KNOCKOUT - ✔ SLICK - ✔ LIT ELEMENT - ✔ STENCIL - GRAPHQL</p>

	<h3> TOOLING </h3>
	<p>✔ GIT - ✔ GULP - ✔ WEBPACK - ✔ NPM - ✔ YARN - ✔ PHOTOSHOP - ✔ ILLUSTRATOR - ✔ SVN - ✔ GITHUB - ✔ GITHUB ACTIONS - ✔ NVM - ✔ FVM - ✔ NPM PACKGES - ✔ YARN PACKAGES - ✔ JFROG </p>

	<h3>FRAMEWORK</h3>
	<p> ✔ ANGULAR - ✔ BOOTSTRAP - ✔ MATERIAL </p>

	<h3> PATTERNS AND TECHNIQUES</h3>
	<p>✔ BEM - ✔ RESPONSIVE FIRST - ✔ SEO - ✔ MOBILE FIRST - ✔ C4 ARQUITETURE </p>
</section>