<section class="works-component" data-cont>
	<h2>TRABALHOS</h2>
	<p>Alguns projetos foram descontinuados pelas produtos como: Looklink, Polaris, Empreendimento Studio 47, Fundação MCSV, Empreendimento Be Strong, Loja e Site Arborera Cymbals Brasil, Projetos Bradesco Seguros, PDV Leroy Merlin e Vivo 4g </p>
	<p>Projetos que participei até o momento e que continuam em no ar:</p>
	<ul class="projects">
		<li class="thumb">
			<a href="https://www.corinthians.com.br/home/" target="_blank">
				<img src="../img/projects/corinthians.jpg" alt="Sport Club Corinthians Paulista">
				<span class="legend">
					<h4>
						Sport Club Corinthians Paulista
						<small>Site Institucional - desenvolvido em HTML + CSS + JQUERY + PHP</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://www.palmeiras.com.br/home/" target="_blank">
				<img src="../img/projects/palmeiras.jpg" alt="Site Oficial do Palmeiras">
				<span class="legend">
					<h4>
						Site Oficial do Palmeiras
						<small>Site Institucional - desenvolvido em HTML + CSS</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="http://setin.com.br/" target="_blank">
				<img src="../img/projects/setin.jpg" alt="SETIN Incorporadora">
				<span class="legend">
					<h4>
						SETIN Incorporadora
						<small>Site Institucional - desenvolvido em HTML + CSS + Hammer JS + ASP</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://www.livelo.com.br/" target="_blank">
				<img src="../../img/projects/livelo.png" alt="Compre com pontos - Livelo">
				<span class="legend">
					<h4>
						Livelo - Compre com pontos
						<small>Loja - desenvolvido em HTML + SASS + knouckout js</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://www.livelo.com.br/" target="_blank">
				<img src="../../img/projects/livelo2.png" alt="Compre com dinheiro - Livelo">
				<span class="legend">
					<h4>
						Livelo - Compre com dinheiro
						<small>Loja - desenvolvido em HTML + SASS + knouckout js</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://designsystem.livelo.com.br/" target="_blank">
				<img src="../../img/projects/prisma.png" alt="Prisma Design System - Livelo">
				<span class="legend">
					<h4>
						Prisma Design System - Livelo
						<small>Iniciei o DS Prisma na Livelo, estabelecendo governança e pilares essenciais.</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://zeroheight.com/7b02ac2be/p/139cad-annecy-design-system" target="_blank">
				<img src="../../img/projects/annecy.png" alt="Annecy Design System - Banco Carrefour">
				<span class="legend">
					<h4>
						Annecy Design System - Banco Carrefour
						<small>desenvolvido em HTML + Zeroheight + lit element + SASS</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://zeroheight.com/7b02ac2be/p/139cad-annecy-design-system" target="_blank">
				<img src="../../img/projects/kenlo.png" alt="KDLS Design System - Kenlo">
				<span class="legend">
					<h4>
						KDLS Design System - Kenlo
						<small>desenvolvido em HTML + Zeroheight + lit element + SASS + Flutter</small>
					</h4>
				</span>
			</a>
		</li>
		<li class="thumb">
			<a href="https://medium.com/gbtech/cultivando-design-systems-no-grupo-botic%C3%A1rio-6a6c57dfe137" target="_blank">
				<img src="../../img/projects/flora.png" alt="Flora Design System - Grupo Boticario">
				<span class="legend">
					<h4>
						Flora Design System - Grupo Boticario
						<small>desenvolvido em HTML + GSITE + React + stitches + Flutter</small>
					</h4>
				</span>
			</a>
		</li>
	</ul>
</section>